/* common css start   */

.font-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.font-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.font-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.fontOrange{
    color: #FEA301;
}

.fontBlue{
    color: #01ACFD;
}
.fontBlack{
    color: #111111;
}
.fontWhite
{
    color: #F7F7F7;
}

body
{
    color: #F7F7F7;
    font-family: "Merriweather", serif;

}
/* common css end   */

/* css for navBar start */
.navContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.nav{
    width: 1160px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-areas: "a b c";
}

.logoName{
    grid-area: a;
    display: flex;
}

.menu{
    grid-area: b;
    display: flex;
}

.menu li{
    list-style: none;
    margin-left: 1rem;
}
.menu li a{
    text-decoration: none;
    font-size: 1.3rem;
    transition: .3s ease-in;

}
.menu li a:hover{
    font-size: 1.4rem;
}

.menu li:nth-child(1) a{
    color:#FEA301 ;
}
.menu li:nth-child(2) a{
    color:#01ACFD;
}
.menu li:nth-child(3) a{
    color:#6a01fd;
}
.menu li:nth-child(4) a{
    color:#46ffd4 ;
}


.navButton{
    grid-area: c;
    
}
.navButton button{
    width: 200px;
    height: 50px;
    border: none;
    background-color: #FEA301;
    border-radius: 12px;
    color: white;
    font-size: 1.2rem;
    
}
.hamBurger{
    display: none;
    grid-area: d;
}
.hamBurger img{
    width: 30px;
    height: 30px;
}
.custom-line {
    border: none; 
    height: 2px; 
    background-color: #FEA301; 
    margin: 20px 0; 
    /* width: 90%; 
    margin-left: auto; 
    margin-right: auto; */
    display: none;
}

/* css for navBar end */

/* css for banner start */
.bannerContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.banner{
    width: 1160px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-areas: "banner-a banner-b";
}
.bannerText{
    grid-area: banner-a;
}
.bannerImage{
    grid-area: banner-b;
}
.bannerText h1{
    font-size: 4rem;
}
.bannerText p{
    font-size: 1.2rem;
}
.bannerText button{
    width: 200px;
    height: 50px;
    border: none;
    background-color: #000000;
    border-radius: 12px;
    color: white;
    font-size: 1.2rem;
}
/* css for banner end */



/* css for navBar start */
/* css for navBar end */
/* css for navBar start */
/* css for navBar end */
/* css for navBar start */
/* css for navBar end */
/* css for media query start */
@media screen and (max-device-width: 430px)  {

    .logoName h1{
        display:none;
    }
    .menu{
        display: none;
    }
    .navButton button{
        display: none;
    }
    .custom-line{
        display: block;
    }
    .nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .hamBurger{
        display: block;

    }

    .banner{
        width: 100%;
        /* justify-content: space-between; */
        align-items: center;
        grid-template-areas: "banner-b" "banner-a";
    }
    .bannerText{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .bannerText h1{
        font-size: 2.5rem;
    }
    .bannerText p{
        font-size: 1.5rem;
    }
    .bannerImage{
        display: flex;
        justify-content: center;
    }
    .bannerImage img{
        width: 95%;
    }
}
/* css for media query end */
